<!-- About Section -->
<section id="about" class="card text-center py-5" data-aos="fade-up">
    <div class="container">
        <h2 class="section-heading title">About Me</h2>
        <img src="./images/profile.jpg" alt="Profile Picture" />
        <p class="mt-4 card">
            <p class="lead">Hi, I’m <strong>Liaqat Ali</strong>, a <em>Computer Science student</em> at
                <strong>Virtual University of Pakistan</strong>, passionate about technology and problem-solving.
                Currently pursuing my <strong>Masters in Computer Science</strong>, I’ve developed skills in
                <strong>programming</strong>, <strong>data structures</strong>, <strong>networking</strong>, and
                <strong>software development</strong>.
            </p>
            <p>I have a deep interest in technology, particularly in <strong>web development</strong>,
                <strong>cybersecurity</strong>, and <strong>network protocols</strong>. My hands-on experience is
                further enhanced by certifications in:
            </p>
            <ul class="list-unstyled">
                <li><strong>Technical Support Fundamentals</strong> from Google</li>
                <li><strong>Introduction to TCP/IP</strong> from Yonsei University</li>
            </ul>
            <p>My portfolio showcases projects highlighting my growth, particularly in <strong>software
                    development</strong>. I’m always seeking opportunities to collaborate and create impactful,
                innovative solutions.</p>
            <p>If you’d like to connect, feel free to reach out. I’m excited to exchange ideas and explore new
                opportunities in tech.</p>
        </div>
    </section>
