<!-- Contact Section -->
<section id="contact" class="card text-center py-5 bg-light" data-aos="fade-up">
    <div class="container">
        <h2 class="section-heading title">Contact Me</h2>
        <p class="mt-4">
            Feel free to reach out for collaborations or just a friendly chat!
        </p>
        <a href="mailto:lascsofficial@outlook.com" class="btn btn-dark">Email Me</a>
    </div>
</section>
